---
import spacetime from 'spacetime'
import BaseLayout from 'src/layouts/BaseLayout.astro';
import { newtClient, type NewtArticle } from 'src/lib/newt';

const { items: articles } = await newtClient.getContents<NewtArticle>({
	appUid: 'aglog',
	modelUid: 'article',
	query: {
		select: ['title', 'slug', 'body', 'coverImage', '_sys']
	}
})
---

<BaseLayout>
	<main class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
		<section class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
			{
				articles.map((post) => (
					<div class="border-gray-200 dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7] group flex h-full flex-col rounded-xl border bg-air shadow-sm">
						<a href={`/blog/${post.slug}/`}>
							<div class="flex h-52 flex-col items-center justify-center overflow-hidden rounded-t-xl">
								<img width={720} height={360} src={post.coverImage.src} alt="" />
							</div>
							<div class="p-4 md:p-6">
								<span class=" mb-1 block text-xs font-semibold uppercase">{spacetime(post._sys.createdAt).format('iso-short')}</span>
								<h3 class=" text-xl font-semibold hover:text-viva">{post.title}</h3>
							</div>
						</a>
					</div>
				))
			}
		</section>
	</main>
</BaseLayout>
