---
import Scenario from '@components/kabaddi/Scenario'
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout>
	<section class="flex h-screen justify-center">
		<img src="/favicon.svg" class="" />
	</section>
	<Scenario client:only="react" />
</BaseLayout>
