---
import Scenario from "src/components/kabaddi/Scenario";
import BaseLayout from "src/layouts/BaseLayout.astro";
---

<BaseLayout>
	<main class="flex justify-center">
		<img src="/favicon.svg" class="w-4/12 rounded-gakubuti bg-sandGra shadow-newm" />
	</main>
	<Scenario client:only="react" />
</BaseLayout>
