---
import BaseLayout from '@layouts/BaseLayout.astro'
import { newtClient, type NewtArticle } from '@utils/newt.ts'
import lib from 'zenn-markdown-html'
import 'zenn-content-css'

export const getStaticPaths = async () => {
	const { items: articles } = await newtClient.getContents<NewtArticle>({
		appUid: 'aglog',
		modelUid: 'article',
		query: {
			select: ['title', 'slug', 'coverImage', 'mainbody']
		}
	})
	return articles.map((article) => ({
		params: { slug: article.slug },
		props: { article }
	}))
}

const { article } = Astro.props
const markdownToHtml = lib.default ? lib.default : lib

const content = markdownToHtml(article.mainbody)
---

<BaseLayout>
	<section>
		<div class="main">
			<div class="znc p-8 xl:px-128">
				<h1>{article.title}</h1>
				<Fragment set:html={content} />
			</div>
		</div>
	</section>
</BaseLayout>
