---
import { INSTAGRAM_URL, LINE_URL, X_URL } from 'src/consts'
import HeaderLink from './HeaderLink.astro'
---

<header>
	<nav class="flex items-center justify-between">
		<h2 class="font-zen-antique text-4xl"><a href="/">広島阿國</a></h2>
		<div>
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/members">Team</HeaderLink>
		</div>
		<div class="social-links">
			<a href={X_URL} target="_blank">
				<span class="sr-only">Follow AGNI on Twitter</span>
				<img src="/icons/logo-white.png" width="32" height="32" />
			</a>
			<a href={INSTAGRAM_URL} target="_blank">
				<span class="sr-only">Follow AGNI on Instagram</span>
				<img src="/icons/Instagram_Glyph_Gradient.png" width="32" height="32" />
			</a>
			<a href={LINE_URL} target="_blank">
				<span class="sr-only">Go to Astro's GitHub repo</span>
				<img src="/icons/LINE_Brand_icon.png" width="32" height="32" />
			</a>
		</div>
	</nav>
</header>
<style>
	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav a {
		padding: 1em 2em;
		text-decoration: none;
		border-bottom: 4px solid transparent;
	}
	nav a.active {
		text-decoration: none;
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
