---
import BaseLayout from "src/layouts/BaseLayout.astro";
import { newtClient, type NewtWorkout } from "src/lib/newt";

const { items: schedule } = await newtClient.getContents<NewtWorkout>({
	appUid: 'aglog',
	modelUid: 'workout',
	query: {
		select: ['title', 'date', 'slug', 'field']
	}
})
---

<BaseLayout>
	<main class="max-w-8xl mx-auto grid gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-2">
		<div class="max-w-2xl">
			<h2 class="text-gray-900 text-3xl font-bold tracking-tight sm:text-4xl">練習計画</h2>
		</div>
		<section>
			<div class="grid grid-cols-3 gap-3">
				{
					schedule.map((workout) => (
						<div>
							<span>{workout.date}</span>
							<span>{workout.title}</span>
						</div>
					))
				}
			</div>
		</section>
	</main>
</BaseLayout>
